<footer class="container">
    <p>&copy; Gomac</p>
</footer>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/kendoui/js/kendo.ui.core.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script>
    _.templateSettings = {
        evaluate : /\{%([\s\S]+?)\%\}/g,
        interpolate : /\{%=([\s\S]+?)\%\}/g,
        escape : /\{%-([\s\S]+?)%\}/g
    }
</script>
<script src="/js/leancloud-min.js"></script>
<script src="/gomac.js"></script>
<script>
    AV.$ = jQuery;
    // Initialize AV with your AV application javascript keys
    AV.initialize("8d8ldwhtuhjox6w6y8kkm261zbuvb8acv0ajftae9ubemvsf", "bmfvvlqrf9um7lq1vvs34dzrejewx3x0t5uaeykohsylmvvt");
</script>