<footer class="container">
    <p>&copy; Gomac</p>
</footer>
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/kendoui/js/kendo.ui.core.min.js"></script>