<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include base/head%>
</head>
<body>
<%include base/header%>
<div class="container-fluid">
    <p class="well">Hello World!</p>
</div>
<%include base/footer%>
<script></script>
</body>
</html>