<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include head%>
</head>
<body>
<%include header%>
<div class="container-fluid">
    <p class="well">Hello World!</p>
</div>
<%include footer%>
<script></script>
</body>
</html>