<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include head%>
</head>
<body>
<%include header%>
<div class="container-fluid">
    <form role="form" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="form-group">
            <label for="username">登录名<span class="k-invalid-msg" data-for="username">*</span></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名或邮箱" required validationMessage="必填">
        </div>
        <div class="form-group">
            <label for="password">密码（<a href="#">找回密码</a>）<span class="k-invalid-msg" data-for="password">*</span></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"  required validationMessage="必填">
        </div>
        <div class="form-group">
            <span id="msg"></span>
            <button type="button" class="btn btn-success">登录</button>
        </div>
    </form>
</div>
<%include footer%>
<script>
    $(function () {
        var currentUser = AV.User.current();
        if (currentUser) {
            gohome();
            return;
        }

        var form = $("form"),
            username = $('#username'),
            password = $('#password'),
            message = $('#msg'),
            submit = $('button');

        var validator = form.kendoValidator().data("kendoValidator");

        var notification = message.kendoNotification({
            appendTo: 'form'
        }).data("kendoNotification");

        submit.click(function(){
            $(this).addClass('disabled');
            if(validator.validate()) {
                AV.User.logIn(username.val(), password.val(), {
                    success: function(user) {
                        notification.success('登录成功');
                        gohome();
                    },
                    error: function(user, error) {
                        notification.error('Error: '+error.code+' - '+error.message);
                    }
                });
            }
            else {
                notification.error('表单未全部按要求填写');
            }
            $(this).removeClass('disabled');
        });
    });
</script>
</body>
</html>