<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include head%>
</head>
<body>
<div id="tip"></div>
<%include footer%>
<script>
    $(function(){
        var notification = $('#tip').kendoNotification({
            position: {
                pinned: true,
                top: 20,
                left: 20
            },
            hideOnClick: true,
            hide: function(e) {
                gohome();
            }
        }).data("kendoNotification");

        AV.User.logOut();

        notification.success('您已成功退出，本页面将会跳转');
    });
</script>
</body>
</html>