<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include head%>
    <style type="text/css">
        html,body{margin: 0;padding: 0;}
        .container{margin: 12px auto}
    </style>
</head>
<body>
<div class="container"><p id="tip"></p></div>
<%include footer%>
<script>
    $(function(){
        var notification = $('#tip').kendoNotification({
//            position: {
//                pinned: true,
//                top: 20,
//                left: 20
//            },
            appendTo: 'div.container',
            hideOnClick: true,
            hide: function(e) {
                gohome();
            }
        }).data("kendoNotification");

        AV.User.logOut();

        notification.success('您已成功退出，本页面将会跳转');
    });
</script>
</body>
</html>