<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include head%>
</head>
<body>
<%include header%>
<div class="container">
    调查列表
</div>
<%include footer%>
<script src="/js/survey.js"></script>
</body>
</html>