<!DOCTYPE html>
<html lang="zh_cn">
<head>
<%include head%>
</head>
<body>
<div id="surveyapp" class="container"></div>
<%include footer%>
<script>
    var surveyID = '<%=surveyID%>';
</script>
<script src="/js/survey-preview.js"></script>
</body>
</html>