<!DOCTYPE html>
<html lang="zh_cn">
<head>
<%include head%>
<style type="text/css">
    html, body {
        padding: 0;
        font-size: 14px;
        line-height: 1.8em;
    }
    pre {
        font-size: 16px;
        border: none;
        background-color: transparent;
    }
    .list-group-item {
        background-color: transparent;
        border:none;
        border-top: 1px solid #eee;
        line-height: 1.5em;
    }
    .list-group-item-text {
        padding-left: 8px;
    }
    .txt-survey-other {
        border: none;
        border-bottom: 1px solid #44b549;
        background-color: transparent;
    }
    .radio label,
    .checkbox label {
        display: block;
    }
</style>
</head>
<body>
<div class="container">
    <form role="form" class="col-sm-6 col-sm-offset-3" method="post" action="/survey">
        <div id="survey-profile"><img src="/loading.gif"></div>
        <div id="survey-item-list"><img src="/loading.gif"></div>
        <div class="form-group">
            <input type="hidden" id="surveyID" name="surveyID" value="<%=objectId%>">
            <input type="hidden" id="instanceID" name="instanceID" value="">
            <button type="button" class="btn btn-success btn-block btn-lg disabled btn-submit-survey">提交</button>
        </div>
    </form>
</div>
<%include footer%>

<script type="text/template" id="survey-welcome-tpl">
    <div class="page-header">
        <h3>{%- survey.title %}</h3>
    </div>
    {%
    if( survey.conf ) {
    _.each(survey.conf, function(item, key) {
    %}
    <div class="form-group">
        <label>{%- item.label %}</label>
        <input type="{%- item.type %}" class="form-control" name="profile[{%- key %}]" placeholder="输入{%- item.label %}">
    </div>
    {% }) } %}
</script>

<script type="text/template" id="survey-item-collection-tpl">
    <ul class="list-group" id="survey-item-list">
        <div style="text-align: center"><img src="/loading.gif"></div>
    </ul>
</script>

<script type="text/template" id="survey-item-sc-tpl">
    <div class="list-group-item-heading">
        {%- model.title %}
    </div>
    <ul class="list-group-item-text{% if(model.required){ %} required{% } %}">
        {% _.each(model.items, function(item, key){ %}
        <li class="radio">
            <label><input type="radio" name="answer[{%-model.objectId%}]" value="{%-key%}"> {%- item %}</label>
        </li>
        {% }) %}
        {% if(model.other) { %}
        <li class="radio">
            <label>
                <input type="radio" name="answer[{%- model.objectId %}]">
                <input type="text" class="txt-survey-other" value="" placeholder="其他">
            </label>
        </li>
        {% } %}
    </ul>
</script>

<script type="text/template" id="survey-item-mc-tpl">
    <div class="list-group-item-heading">
        {%- model.title %}
    </div>
    <ul class="list-group-item-text{% if(model.required){ %} required{% } %}">
        {% _.each(model.items, function(item, key){ %}
        <li class="checkbox">
            <label><input type="checkbox" name="answer[{%- model.objectId %}][]" value="{%- key %}"> {%- item %}</label>
        </li>
        {% }) %}
        {% if(model.other) { %}
        <li class="checkbox">
            <label>
                <input type="checkbox" name="answer[{%- model.objectId %}][]">
                <input type="text" class="txt-survey-other" value="" placeholder="其他">
            </label>
        </li>
        {% } %}
    </ul>
</script>

<script type="text/template" id="survey-item-qa-tpl">
    <div class="list-group-item-heading">
        {%- model.title %}
    </div>
    <div class="list-group-item-text{% if(model.required){ %} required{% } %}">
        <textarea class="form-control" rows="3" name="answer[{%- model.objectId %}]" placeholder="{% if(model.required){ %} 请输入{% } %}"></textarea>
    </div>
</script>
<script src="/js/survey-preview.js"></script>
</body>
</html>