<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include head%>
    <style type="text/css">
        pre {
            background-color: transparent;
            border: none;
            padding: 8px 12px;
            margin: 0;
        }
        #survey-list {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<%include header%>
<div id="surveyapp" class="container"></div>
<%include footer%>

<script type="text/template" id="survey-collection-tpl">
    <div class="controller-bar">
        <button type="button" id="btn-add-survey" class="btn btn-success">创建调查</button>
    </div>
    <div id="survey-list"></div>

    <div id="survey-main-modal" class="modal fade" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">主窗口</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div id="survey-sub-modal" class="modal fade" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">辅窗口</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="survey-tpl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{%- model.title %}</h3>
        </div>
        <div class="panel-body" style="color:{%- model.color %};background-color:{%- model.background.color %}">
            <h5>卷首语：</h5>
            <pre style="color:{%- model.color %}">{%= model.intro %}</pre>
            <hr>
            <h5>结束语：</h5>
            <pre style="color:{%- model.color %}">{%= model.closing %}</pre>
        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-edit-survey"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
                <button type="button" class="btn btn-default btn-remove-survey"><i class="glyphicon glyphicon-remove"></i> 删除</button>
                <button type="button" class="btn btn-default btn-add-survey-item"><i class="glyphicon glyphicon-plus"></i> 题目数: <span class="survey-item-count">{%- count %}</span></button>
                <button type="button" class="btn btn-default btn-view-survey-item"><i class="glyphicon glyphicon-eye-open"></i> 查看</button>
            </div>

        </div>
    </div>
</script>

<script type="text/template" id="survey-form-tpl">
    <form role="form">
        <div class="form-group">
            <label for="survey-title">标题<span class="k-invalid-msg" data-for="survey-title">*</span></label>
            <input type="text" class="form-control" id="survey-title" name="survey-title" value="{%- title %}" required placeholder="(必填)请输入标题" validationMessage="必填">
        </div>
        <div class="form-group">
            <label for="survey-intro">卷首语<span class="k-invalid-msg" data-for="survey-intro">*</span></label>
            <textarea class="form-control" id="survey-intro" name="survey-intro" rows="3" required placeholder="(必填)请输入卷首语" validationMessage="必填">{%- intro %}</textarea>
        </div>
        <div class="form-group">
            <label for="survey-closing">结束语<span class="k-invalid-msg" data-for="survey-closing">*</span></label>
            <textarea class="form-control" id="survey-closing" name="survey-closing" rows="3" required placeholder="(必填)请输入结束语" validationMessage="必填">{%- closing %}</textarea>
        </div>
        <div class="form-group">
            <label>背景颜色：</label>
            <input type="text" id="survey-background-color" value="{%- background.color %}">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;文字颜色：</label>
            <input type="text" id="survey-text-color" value="{%- color %}">
        </div>
        <div class="form-group">
            <label for="survey-background-url">背景图片网址</label>
            <input type="url" class="form-control" id="survey-background-url" value="{%- background.url %}" placeholder="(可选)请输入背景图片网址">
        </div>
        <div class="form-group">
            <label for="survey-conf">用户信息请求配置（格式：名称:类型:描述，每行一项）</label>
            <textarea class="form-control" id="survey-conf" rows="4" placeholder="(可选)用户信息请求配置，例如：fullname:textarea:姓名">{%- conf %}</textarea>
        </div>
        <div class="form-group">
            <p class="modal-msg"></p>
            <button type="button" id="btn-save-survey" class="btn btn-success">保存</button>
        </div>
    </form>
</script>

<script type="text/template" id="survey-item-form-tpl">
    <form role="form">
        <div class="form-group">
            <label for="survey-item-title">标题<span class="k-invalid-msg" data-for="survey-item-title">*</span></label>
            <input type="text" class="form-control" id="survey-item-title" name="survey-item-title" value="{%- title %}" required placeholder="(必填)请输入标题" validationMessage="必填">
        </div>
        <div class="form-group">
            <label for="survey-item-items">选项<span class="k-invalid-msg" data-for="survey-item-items">*</span></label>
            <textarea class="form-control" id="survey-item-items" name="survey-item-items" rows="4" required placeholder="(必填)请输入选项" validationMessage="必填">{%- items %}</textarea>
        </div>
        <div class="form-group">
            <label for="survey-item-intro">描述</label>
            <textarea class="form-control" id="survey-item-intro" name="survey-item-intro" rows="3" placeholder="(可选)请输入描述">{%- intro %}</textarea>
        </div>
        <div class="form-group">
            <p class="modal-msg"></p>
            <button type="button" class="btn btn-success" id="btn-save-survey-item">保存</button>
        </div>
    </form>
</script>

<script src="/js/survey.js"></script>
</body>
</html>