<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <%include ../head%>
</head>
<body>
<div class="container">
    <div class="alert alert-success col-sm-6 col-sm-offset-3">
        <div class="page-header"><h3><%= title %></h3></div>
        <div>
            <%=message%>
        </div>
    </div>
</div>
<%include ../footer%>
</body>
</html>